@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100px);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgb(28 28 28);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.open > section {
  animation-name: slideUp;
}

@media (min-width: 1440px) {
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 0.25s ease-out forwards;
  }

  .modal.open {
    animation-name: fadeIn;
  }

  .modal > section {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
    border-radius: 0.3rem;
    overflow: hidden;
    animation: slideDown 0.25s ease-out forwards;
  }
}
