@import "./reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* main 타이틀 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
  /* overflow: hidden; */
}

body {
  font-family: "Pretendard-Regular";
  color: #fff;
  background-color: #1c1c1c;
  /* 드래그 막기 */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  /* 이미지 잔상 방지 */
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

.shadow-3d {
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

/* 클릭 시 눌린 상태로 보이도록 하는 내부 그림자 */
.shadow-inset-down {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 14px 2px rgba(255, 69, 58, 0.64);
  transform: translateY(2px);
  transition: all 0.2s ease;
}

.truncate-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
