@import "./reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@keyframes slideUp {
  0% {
    transform: translateY(70px); /* 아래에서 시작 */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* 원래 위치 */
    opacity: 1;
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glowing {
  0% {
    box-shadow:
      0 0 10px #fffd00,
      0 0 20px #fffd00,
      0 0 30px #fffd00,
      0 0 40px #fffd00;
  }
  50% {
    box-shadow:
      0 0 20px #fffd00,
      0 0 30px #fffd00,
      0 0 40px #fffd00,
      0 0 50px #fffd00;
  }
  100% {
    box-shadow:
      0 0 10px #fffd00,
      0 0 20px #fffd00,
      0 0 30px #fffd00,
      0 0 40px #fffd00;
  }
}

body {
  font-family: "Pretendard";
  color: #fff;
  background-color: #1c1c1c;
}

body::-webkit-scrollbar {
  display: none;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

img {
  /* 이미지 잔상 방지 */
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  /* 드래그 막기 */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shadow-3d {
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

/* 클릭 시 눌린 상태로 보이도록 하는 내부 그림자 */
.shadow-inset-down {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 14px 2px rgba(255, 69, 58, 0.64);
  transform: translateY(2px);
  transition: all 0.2s ease;
}

.truncate-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #d21f1f !important;
}
.scrollbar-custom {
  overflow-y: auto;
  overflow-x: auto;
}
.animate-slide-up {
  animation: slideUp 0.5s ease-out forwards;
}
.glowing-image {
  position: relative;
  animation: glowing 1.2s infinite ease-in-out;
}
.rotating-text {
  display: inline-block;
  animation: rotating 3s linear 1 forwards;
}

.filter-color {
  filter: invert(43%) sepia(2%) saturate(10%) hue-rotate(7deg) brightness(99%) contrast(96%);
}

.location-color {
  filter: invert(23%) sepia(2%) saturate(10%) hue-rotate(7deg) brightness(99%) contrast(96%);
}